.container{
    background: linear-gradient(to right, #6494c4, #e0f7fac2);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
.container h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
}
.Cuerpo1{
 font-family: 'Times New Roman', Times, serif;
 background: linear-gradient(135deg, #0808f1, #9785d4);
 justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 margin: 0;
 
}

.Contenedor-de-inicio{
    font: optional;
    background: linear-gradient(to right, #6494c4, #e0f7fac2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border-style: groove;
}

.grupo{
    margin-bottom: 15px;
    text-align: center;
}

label{
    display: block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-size-adjust: inherit;
    height: 10px;
}

label c{
    display: block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-size-adjust: inherit;
    height: 10px;
}


input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
 button[type="submit"]:active {
    background-color:rgb(12, 64, 236);
    transform: scale(0.95);
 }

 .Registro{
    margin-top: 15px;
    font-size: 0.9em;
 }
  .Registro a{
    color: rgb(12, 64, 236);
    text-decoration: underline;
  }
 .Registro a:hover{
    text-decoration: dashed;
 }

 .textito{
    color: #333;  
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em; 
    font-weight: bold; 
    text-align: center;
    margin-bottom: 20px; 
    letter-spacing: 0.5px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
 }

 .cuerpo2{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #0808f1, #9785d4);
    justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 margin: 0;
 }

.ContenedorRegistro{
    font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #6494c4, #e0f7fac2);
  padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border-style: groove;
}

.Titulo1{
  text-decoration: underline;
}
